// Bg colors
.bg_white{ background-color: $white; }
.bg_lighten{ background-color: $lighten; }
.bg_primary{ background-color: $primary; }
.bg_secondary{ background-color: $secondary; }
.bg_darken{ background-color: $darken; }

// Texts colors
.text_primary{ color: $primary; }
.text_secondary{ color: $secondary; }
.text_lighten{ color: $lighten; }

// Others
.stroke_primary{
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $primary;
}
.stroke_secondary{
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $secondary;
}
.border_white{ border-color: $lighten; }
