h1, h2{ line-height: 50px; }

// Font sizes
.text_xs{ font-size: 14px; }
.text_sm{ font-size: 16px; }
.text_md{ font-size: 20px; }
.text_xl{ font-size: 42px; }

// Font weight
*:not(i, .text_light, .text_medium, .text_bold){ font-family: 'Chocolate'; font-weight: 400; }
.text_light{ font-family: 'Chocolate-light'; font-weight: 300; }
.text_medium{ font-family: 'Chocolate-medium'; font-weight: 500; }
.text_bold{ font-family: 'Chocolate-bold'; font-weight: 600; }

// Font align
.text_left{ text-align: left; }
.text_center{ text-align: center; }
.text_right{ text-align: right; }

// Text transform
.uppercase{ text-transform: uppercase; }

@font-face {
    font-family: 'Chocolate-light';
    src: url('../../assets/fonts/tt_chocolates_light.otf');
    // src: url('../../assets/fonts/tt_chocolates_light.ttf'); If needed, if I have the file.
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Chocolate';
    src: url('../../assets/fonts/tt_chocolates_regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Chocolate-medium';
    src: url('../../assets/fonts/tt_chocolates_medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Chocolate-bold';
    src: url('../../assets/fonts/tt_chocolates_bold.otf');
    font-weight: 600;
    font-style: normal;
}
