@media (max-width: 1280px) {
    .xl-mx_0{ margin-left: auto; margin-right: auto; }
}

@media (min-width: 1024px) {
    .lg-mx_0{ margin-left: auto; margin-right: auto; }
    .lg-flex{ display: flex; }
    .lg-block{ display: block; }
    .lg-m_2{ margin: 20px; }
    .lg-content-left{ align-content: flex-start; }
    .m_inherit{ margin: inherit; }
    .after_bg_white{
        &::after{
            width: 75%;
        }
    }
}
