// Here i'll apply some global styles that don't really fit in components

body, html{
    margin: 0;
    padding: 0;
}
*{ list-style: none; }
ul{ padding: 0; text-align: left; }

p, span, input{ font-family: 'Chocolate'; }
h1, h2{ font-family: 'Chocolate-bold'; }
p.centered{ text-align: center; }

// Different positions
.absolute{ position: absolute; }
.relative{ position: relative; }

// Positionning
.t_0{ top: 0px; }
.t_1_4{ top: 25%; }
.t_50vh{ top: 50vh; }
.t_100vh{ top: 100vh; }
.r_0{ right: 0px; }
.l_0{ left: 0px; }
.l_25{ left: 25%; }
.l_50{ left: 50%; }
.l_75{ left: 75%; }
.b_0{ bottom: 0px; }
.bottom_2{ bottom: 20px; }
.left_centered{ left: 50%; transform: translateX(-50%);}

// Sizing
.w_1px{ width: 1px; }
.w1_2{ width: 50%; }
.w2_5{ width: 60%; }
.w3_4{ width: 75%; }
.w_100vwh{ width: 100vh; }
.w_100vw{ width: 100vw; }
.w_100{ width: 100%; }
.h_50{ height: 50vh; }
.h_80{ height: 80vh; }
.h_100vh{ height: 100vh; }
.h_100vhw{ height: 100vw; }
.h_110vh{ height: 110vh; }
.h_100{ height: 100%; }
.fit-content{ object-fit: cover; }

// Different displays
.flex{ display: flex; }
.items-center{ align-items: center; }
.flex-column{ flex-direction: column; }
.content-centered{ justify-content: center; }
.block{ display: block; }
.inline-block{ display: inline-block; }

// Paddings
.border-box{ box-sizing: border-box; }
.p_1{ padding: 15px; }
.p_2{ padding: 20px; }
.p_4{ padding: 40px; }
.px_4{ padding: 0 40px; }
.pb_5{ padding-bottom: 50px; }
.pb_10{ padding-bottom: 100px; }
.pt_1{ padding-top: 10px; }
.pb_1{ padding-bottom: 10px; }

// Margins
.m_auto{ margin: auto !important; }
.m_0{ margin: 0; }
.m_1{ margin: 10px; }
.m_2{ margin: 20px; }
.mb_4{ margin-bottom: 40px; }
.mr_2{ margin-right: 20px; }
.mr_4{ margin-right: 40px; }
.ml_1{ margin-left: 8px; }
.ml_1_5{ margin-left: 20%; }

// Borders
.border{ border: 3px solid; border-radius: 20px; padding: 10px; }
.border_xs{ border: 2px solid; border-radius: 20px; padding: 10px; }

// Index
.-z_1{ z-index: -1; }
.z_0{ z-index: 0; }
.z_1{ z-index: 1; }

// Containers
.container{
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.15);
}

// Others
.overflow-hidden{ overflow: hidden; }
.opa_50{ opacity: 50%; }

.rounded{ border-radius: 50%; }
.border_rounded{ border-radius: 20px; }

.separator_primary{
    height: 40px;
    width: 2px;
    background-color: $primary;
}

#Services{
    z-index: 1;
    position: relative;
    &::after{
        content: "";
        background-color: #FFFFFF;
        width: 100%;
        height: 30%;
        bottom: 0;
        left: 0;
        display: block;
        position: absolute;
        z-index: -1;
    }
}

#Contact .content > *{ box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.15); }
