.button{
    border-radius: 40px;
    align-self: center;
    & p{ margin: 0; }
    &.rounded{ border-radius: 50%; }
    &:not(.rounded){ padding: 10px 30px; }
    &:not(.border_white){
        border: none;
    }
}
