.after_bg_white{
    & > *{ z-index: 1; position: relative; }
    &::after{
        content: "";
        width: 100%;
        height: 115%;
        background-color: #FFFFFF;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 20px;
    }
}

.form{
    p, span{
        line-height: 30px;
        cursor: pointer;
        white-space: break-spaces;
    }
    .outlined{ border-bottom: 2px solid $primary; }
    #form_input_container{
        position: fixed;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        z-index: 10;
        transform: translate(-50%, -50%);
        #form_input_content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            & .form_button{
                width: 50%;
                text-align: center;
                margin-top: 10px;
                & i{
                    width: 15px;
                    height: 15px;
                    padding: 15px;
                    border-radius: 50px;
                    background-color: $secondary;
                }
            }
            & input{
                z-index: 2;
                background-color: $primary;
                font-size: 30px;
                border: none;
                outline: none;
                padding: 10px 20px;
                border-radius: 20px;
                color: $white;
            }
        }
        & #form_input_overlay{
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;
            width: 100vw;
            height: 100vh;
            background-color: $darken;
            opacity: .90;
        }
    }
}
