.select{
    background-color: $secondary;
    color: $white;
    display: flex;
    align-items: center;
    transition: .3s ease;
    & > p{ max-width: 150px; }
    &::before{
        content: '';
        width: 10px;
        height: 10px;
        background-color: $white;
        border: 1px solid $primary;
        display: inline-block;
        margin-right: 10px;
        border-radius: 10px;
    }
    &.active{
        background-color: $white;
        color: $primary;
        &::before{
            background-color: $primary;
        }
    }
}
