<template>
    <section id="Contact" class="bg_lighten p_4 pb_10 relative">
        <p class="relative z_1 text_md text_primary text_medium">Contact</p>
        <p class="relative z_1 m_0 text_xl text_darken text_bold">Parlez-nous <br> de votre projet !</p>
        <div class="lg-flex relative">
            <div class="flex content-centered lg-block column">
                <template v-for="type in contact">
                    <div @click="selected = type.value" class="relative z_1 border-box p_4 m_2 mt_0 border_rounded select bg_secondary text_lighten" :class="[ selected === type.value ? 'active': '' ]">
                        <p class="m_0 text_md text_medium">{{ type.value }}</p>
                    </div>
                </template>
            </div>
            <div class="column p_2 after_bg_white">
                <template v-for="type in contact">
                    <div class="flex content-centered lg-content-left" v-if="selected === type.value">
                        <div class="content">
                            <template v-for="item in type.infos">
                                <div @click="item.status = !item.status" class="p_2 m_1 border_rounded select bg_secondary text_lighten" :class="[ item.status ? 'active': '' ]">
                                    <p class="m_0 text_sm text_medium">{{ item.value }}</p>
                                </div>
                            </template>
                        </div>
                        <div class="content">
                            <template v-for="item in type.others">
                                <div @click="item.status = !item.status" class="p_2 m_1 border_rounded select bg_secondary text_lighten" :class="[ item.status ? 'active': '' ]">
                                    <p class="m_0 text_sm text_medium">{{ item.value }}</p>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>
                <div class="relative m_auto r_0 b_0 button text_medium bg_primary text_lighten" style="max-width: 250px; transform: translateY(25%) ">
                    <p class="block pt_1 m_auto text_lighten uppercase text_md text_center">
                        <span class="text_medium">{{ total_price }}</span>
                        <span class="text_medium inline-block" style="transform: scale(.7);">€</span>
                    </p>
                    <p class="text_lighten text_medium text_sm text_center">En moyenne</p>
                    <br>
                    <p class="pb_1 text_lighten text_light text_sm text_center">Cette estimation peut bouger en fonction de votre projet !</p>
                </div>
            </div>
            <div class="form w3_4 m_auto column p_2 after_bg_white">
                <p class="text_md m_0 text_medium">
                    <span class="text_medium">Bonjour,</span> <br>
                    <span class="text_medium">Je m'appelle </span>
                    <span class="text_primary outlined pointer text_medium" @click="open_input(input.user.user_name, 'user_name')">{{ input.user.user_name }}</span>
                    <span class="text_medium"> et je vous contacte pour </span>
                    <span class="text_primary outlined pointer text_medium" @click="is_single = !is_single" v-if="is_single">une</span>
                    <span v-else class="text_primary outlined pointer text_medium" @click="is_single = !is_single">plusieurs</span>
                    <span class="text_primary outlined pointer ml_1 text_medium">{{ selected }}<span v-if="is_single == false">s</span></span>.

                    <br>
                    <br>

                    <span class="text_medium">Pour ce projet, des contenus sont déjà prêts :</span>
                    <template v-for="type in contact" v-if="selected == type.value">
                        <template v-for="info in type.infos">
                            <p class="m_0"><span class="text_primary text_medium outlined pointer" v-if="info.status">- J'ai mes {{ info.text }}</span></p>
                        </template>
                    </template>

                    <br>
                    <br>

                    <span class="text_medium">En bonus, s'il pouvait y avoir :</span>
                    <template v-for="type in contact" v-if="selected == type.value">
                        <template v-for="info in type.others">
                            <p class="m_0"><span class="text_primary text_medium outlined pointer" v-if="info.status">- J'ai mes {{ info.text }}</span></p>
                        </template>
                    </template>

                    <br>
                    <br>

                    <span @click="open_input(input.user.user_concept, 'user_concept')">
                        <span v-if="input.user.user_concept == ''" class="text_primary text_medium outlined pointer">Pour résumer, le concept du projet, c'est...</span>
                        <span v-else class="text_primary text_medium outlined pointer">{{ input.user.user_concept }}</span>
                    </span>

                    <br>
                    <br>

                    Vous pouvez me contacter à ce numéro :
                    <span @click="open_input(input.user.user_phone, 'user_phone')">
                        <span v-if="input.user.user_phone == ''" class="text_primary text_medium outlined pointer">06 -- -- -- --</span>
                        <span v-else class="text_primary text_medium outlined pointer">{{ input.user.user_phone }}</span>
                    </span>

                    <br>

                    où sur cette adresse mail :
                    <span @click="open_input(input.user.user_mail, 'user_mail')">
                        <span v-if="input.user.user_mail == ''" class="text_primary text_medium outlined pointer">--@--.com</span>
                        <span v-else class="text_primary text_medium outlined pointer">{{ input.user.user_mail }}</span>
                    </span>
                </p>
                <div v-if="input.input_type" id="form_input_container">
                    <div id="form_input_content">
                        <input type="text" v-model="input.input_value">
                        <div class="flex form_button_container">
                            <div @click="discard_form()" id="form_input_discard" class="form_button">
                                <i class="fas fa-times text_lighten"></i>
                            </div>
                            <div @click="confirm_form(input.input_type)" id="form_input_valid" class="form_button">
                                <i class="fas fa-check text_lighten"></i>
                            </div>
                        </div>
                    </div>
                    <div id="form_input_overlay"></div>
                </div>
                <div @click="sendMessage()" class="relative r_0 b_0 button bg_primary text_lighten" style="max-width: 250px; transform: translateY(75%)">
                    <p class="text_center p_1 text_md text_medium">Je propose mon projet</p>
                    <i class="absolute r_0 b_0 text_xl fas fa-share text_secondary" style="transform: translate(-25%, 50%)"></i>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'Contact',
    computed: {
        total_price: function(){
            var calc = 300;
            if (this.selected == 'Gaming page') {
                for (const [key, value] of Object.entries(this.contact.gaming.infos)) {
                    if (!value.status) {
                        calc = calc + Number(value.price)
                    }
                }
                for (const [key, value] of Object.entries(this.contact.gaming.others)) {
                    if (value.status) {
                        calc = calc + Number(value.price)
                    }
                }
                return calc
            } else {
                for (const [key, value] of Object.entries(this.contact.landing.infos)) {
                    if (!value.status) {
                        calc = calc + Number(value.price)
                    }
                }
                for (const [key, value] of Object.entries(this.contact.landing.others)) {
                    if (value.status) {
                        calc = calc + Number(value.price)
                    }
                }
                return calc
            }
        }
    },
    data: () => ({
        input: {
            input_type: null,
            input_value: '',
            user: {
                user_name: 'Jean',
                user_concept: '',
                user_phone: '',
                user_mail: ''
            }
        },
        selected: 'Gaming page',
        is_single: true,
        base_price: 300,
        contact: {
            gaming: {
                active: true,
                value: 'Gaming page',
                infos: {
                    assets: {
                        status: false,
                        value: "J'ai mes assets",
                        text: 'assets 2D/animations',
                        price: '800'
                    },
                    audio: {
                        status: false,
                        value: "J'ai mes sons/musiques",
                        text: 'sons/musiques',
                        price: '3600'
                    }
                },
                others: {
                    scan: {
                        status: false,
                        value: 'Trucs à scanner',
                        text: 'trucs à scanner',
                        price: '300'
                    },
                    social: {
                        status: false,
                        value: 'Partage réseau social',
                        text: 'partage de réseau social',
                        price: '500'
                    },
                    analytics: {
                        status: false,
                        value: 'Un compteur de retour client',
                        text: 'analytics',
                        price: '300'
                    },
                    hosting: {
                        status: false,
                        value: 'Hébergement page web',
                        text: 'hébergement page web',
                        price: '300'
                    }
                }
            },
            landing: {
                active: false,
                value: 'Landing page',
                infos: {
                    texts: {
                        status: false,
                        value: "J'ai mes textes",
                        text: 'textes',
                        price: '300'
                    },
                    photos: {
                        status: false,
                        value: "J'ai mes photos/dessins",
                        text: 'photos/dessins',
                        price: '500'
                    },
                    videos: {
                        status: false,
                        value: "J'ai mes vidéos",
                        text: 'vidéos',
                        price: '1000'
                    },
                    audio: {
                        status: false,
                        value: "J'ai mes sons/musiques",
                        text: 'sons/musiques',
                        price: '600'
                    }
                },
                others: {
                    scan: {
                        status: false,
                        value: 'Trucs à scanner',
                        text: 'trucs à scanner',
                        price: '300'
                    },
                    social: {
                        status: false,
                        value: 'Partage réseau social',
                        text: 'partage de réseau social',
                        price: '300'
                    },
                    analytics: {
                        status: false,
                        value: 'Un compteur de retour client',
                        text: 'analytics',
                        price: '300'
                    },
                    hosting: {
                        status: false,
                        value: 'Hébergement page web',
                        text: 'hébergement page web',
                        price: '300'
                    }
                }
            }
        }
    }),
    methods: {
        open_input: function(value, type){
            this.input.input_type = type
            this.input.input_value = value
        },
        discard_form: function(){
            this.input.input_type = ''
            this.input.input_value = ''
        },
        confirm_form: function(){
            switch (this.input.input_type) {
                case 'user_name':
                this.input.user.user_name = this.input.input_value
                break;
                case 'user_concept':
                this.input.user.user_concept = this.input.input_value
                break;
                case 'user_phone':
                this.input.user.user_phone = this.input.input_value
                break;
                case 'user_mail':
                this.input.user.user_mail = this.input.input_value
                break;
                default:
            }
            this.discard_form()
        },
        sendMessage: function(){
            console.log('Message sended')
        }
    }
}
</script>
