<template>
    <section id="Homepage" class="p_2 relative h_100vh w_100vw overflow-hidden border-box">
        <ul id="header" class="z_1 m_0 flex items-center">
            <li class="mr_2 text_xs text_lighten bg_darken">Accueil</li>
            <li class="mr_2 text_xs text_lighten bg_darken">Services</li>
            <li class="button text_xs text_lighten border_xs border_white bg_darken">Nous Contacter</li>
        </ul>
        <div class="z_1 flex h_80 items-center">
            <div id="shapes" class="absolute z_0 t_0 l_0 w_100 h_100">
                <p class="absolute l_0 b_0 m_0 text_md text_lighten text_bold" style="transform: rotate(-90deg) translate(50px, -20px);">Bonjour :)</p>
                <div class="absolute opa_50 t_0 l_25 h_100vh w_1px bg_secondary" style="transform: translate(-50%, -20px) scaleY(1.5);"></div>
                <div class="absolute opa_50 t_0 l_50 h_100vh w_1px bg_secondary" style="transform: translate(-50%, -20px) scaleY(1.5);"></div>
                <div class="absolute opa_50 t_0 l_75 h_100vh w_1px bg_secondary" style="transform: translate(-50%, -20px) scaleY(1.5);"></div>
            </div>
            <div class="z_1 column w1_2 flex flex-column items-center">
                <h1 class="m_0 text_xl text_primary text_bold">Une nouvelle façon <br> de <span class="text_xl text_lighten text_bold">faire de la pub</span></h1>
                <div class="m_2 flex items-center">
                    <i class="fas fa-gamepad text_xl stroke_primary" style="transform: rotate(-15deg)"></i>
                    <div class="separator_primary m_2"></div>
                    <p class="text_lighten text_md text_light">Landing & gaming pages <br> pour vous ou votre entreprise</p>
                </div>
                <div class="flex">
                    <div class="button bg_primary mr_2"><p class="text_sm text_medium text_lighten">À propos de nous</p></div>
                    <div class="button bg_darken border border_white"><p class="text_sm text_medium text_lighten">Nos services</p></div>
                </div>
            </div>
            <div class="z_1 relative column w1_2">
                <div class="z_1 relative button bg_primary flex flex-column content-centered rounded p_2" style="width: 150px; height: 150px;">
                    <p class="text_secondary uppercase text_sm text_center text_bold">À partir de</p>
                    <p class="text_lighten uppercase text_xl text_center inline-block">
                        <span class="text_bold">300</span>
                        <span class="text_bold inline-block" style="transform: scale(.7);">€</span>
                    </p>
                    <i class="absolute left_centered bottom_2 fas fa-arrow-down text_md text_center text_lighten"></i>
                </div>
                <div class="z_0 absolute t_1_4 l_0" style="transform: translate(50px, -60%)">
                    <img class="rounded w_100vwh h_100vh fit-content" src="../assets/bg_img.jpg" alt="background image">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'Homepage',
}
</script>
