<template>
    <section id="Services" class="px_4 pb_5 relative">
        <div class="container bg_white p_2 border_rounded">
            <p class="text_md text_primary text_medium">Services</p>
            <p class="m_0 text_xl text_darken text_bold">Ce que l'on <br> vous propose</p>
            <div class="lg-flex relative p_4 ml_1_5 mr_4 xl-mx_0 bg_lighten border_rounded">
                <div class="relative container bg_white mb_4 lg-m_2 w_100 p_4 border_rounded">
                    <div class="content">
                        <i class="fas fa-gamepad text_xl stroke_secondary" style="transform: rotate(-15deg)"></i>
                        <p class="mr_2 text_darken text_md text_bold">Gaming page</p>
                    </div>
                    <div>
                        <p class="text_secondary">Un mini-jeu personnalisé, incluant assets 2D, musique et sons.</p>
                        <i class="absolute b_0 r_0 fas fa-arrow-down text_md text_center bg_primary p_1 rounded text_lighten" style="transform: translate(-50%, 50%)"></i>
                    </div>
                </div>
                <div class="relative container bg_white mb_4 lg-m_2 w_100 p_4 border_rounded">
                    <div class="content">
                        <i class="fas fa-home text_xl stroke_secondary"></i>
                        <p class="mr_2 text_darken text_md text_bold">Landing page</p>
                        <div>
                            <p class="text_secondary">Une page internet pour vos contenus, accessible par un QR Code ou une URL.</p>
                            <i class="absolute b_0 r_0 fas fa-arrow-down text_md text_center bg_primary p_1 rounded text_lighten" style="transform: translate(-50%, 50%)"></i>
                        </div>
                    </div>

                </div>
                <div class="relative container bg_white mb_4 lg-m_2 w_100 p_4 border_rounded">
                    <div class="content">
                        <i class="fas fa-comment text_xl stroke_secondary"></i>
                        <p class="mr_2 text_darken text_md text_bold">Autres</p>
                        <div>
                            <p class="text_secondary">- Partage sur réseau social <br>- Hébergement <br>- Analytics <br>- QR/Scan de contenu</p>
                            <i class="absolute b_0 r_0 fas fa-arrow-down text_md text_center bg_primary p_1 rounded text_lighten" style="transform: translate(-50%, 50%)"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'Services',
}
</script>
