<template>
    <div id="app" class="border-box bg_darken">
        <div id="other_elements" class="absolute overflow-hidden t_50vh w_100vw h_100vh">
            <p class="z_1 absolute r_0 t_50vh m_0 text_md text_darken text_bold" style="transform: translate(-20px, -40px);">totamp@gmail.com</p>
            <div class="z_0 absolute t_50vh l_0 w_100vw h_100vhw bg_white rounded" style="transform: translate(50%, -100px) scale(5); transform-origin: center top;"></div>
        </div>
        <Homepage></Homepage>
        <Services></Services>
        <Contact></Contact>
        <div id="footer" class="bg_primary p_2">
            <p class="text_sm m_0 text_center"><span class="text_bold text_lighten">Merci :) </span><span class="text_bold text_secondary">- L'équipe totamp</span></p>
        </div>
    </div>
</template>

<script>
import Homepage from './views/Homepage.vue'
import Services from './views/Services.vue'
import Contact from './views/Contact.vue'

export default {
    name: 'App',
    components: {
        Homepage,
        Services,
        Contact
    }
}
</script>
