// I like to work with this 'init.scss' file

// Some vars. There's not enough to create another file.
$white: #FFFFFF;

$primary: #71BADD;
$secondary: #2D5D89;
$darken: #131E2A;
$lighten: #FFFEEB;

// Import some basics styles
@import "./basics/style.scss";
@import "./basics/colors.scss";
@import "./basics/fonts.scss";
@import "./basics/responsive.scss";

// Import components
@import "./components/buttons.scss";
@import "./components/select.scss";
@import "./components/form.scss";
